---
import BaseLayout from "./layouts/BaseLayout.astro";
import BlogPost from "./components/BlogPost.astro";
const pageTitle = "我的 Astro 学习博客";

const posts = Object.values(import.meta.glob('./posts/*.md', {eager: true}))
---

<BaseLayout pageTitle={pageTitle}>
  <h2>在这里分享我的Astro学习之旅</h2>
  <ul>
      {
        posts.map((post: any) => (
          <BlogPost url={post.url} title={post.frontmatter.title} />
        ))
      }
  </ul>
</BaseLayout>