---
import BaseLayout from "./layouts/BaseLayout.astro";
const pageTitle = "我的 Astro 学习博客";

const posts = Object.values(import.meta.glob('./posts/*.md', {eager: true}))
---

<BaseLayout pageTitle={pageTitle}>
  <h2>在这里分享我的Astro学习之旅</h2>
  <ul>
      {
        posts.map((post: any) => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
  </ul>
</BaseLayout>